* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 172, 251, 0.527);
    font-family: 'Courier', monospace;
}

.title {
    font-size: 50px;
    font-family: 'Graduate', cursive;
    letter-spacing: 3px;

}

.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.user-container, .computer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-container h2, .computer-container h2 {
    margin: 30px 0px 0px 0px;
    padding: 0px 50px;
}

.computer-container h2 {
    background-image: url(./images/blue-circle.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 10% 40%;
}

.user-container h2 {
    background-image: url(./images/blue-circle.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 90% 40%;
}
.user-container.active h2, .computer-container.active h2 {
    background-image: none;
}

.message-container {
    font-size: 30px;
}
#turn {
    font-size: 24px;
}

.grid-user {
  width: 500px;
  height: 500px;
  box-sizing: content-box;
  background-color: #c5c5c5;
  display: flex;
  margin: 25px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.grid-computer {
    width: 500px;
    height: 500px;
    box-sizing: content-box;
    background-color: #c5c5c5;
    display: flex;
    margin: 25px;
    flex-wrap: wrap;
    border: 1px solid black;
}

.grid-square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.hit {
    background-image: url('./images/red-circle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

.miss {
    background-image: url('./images/white-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.ship-select {
    width: 500px;
    height: 500px;
    margin: 20px;
    position: absolute;
    left: 0px;
}

.ship {
    display: flex;
}

.ship div {
    width: 50px;
    height: 50px;
}


.start-button, .reset-button {
    position: absolute;
    top: 40%;
    width: 250px;
    height: 100px;
    font-size: 32px;
    border-radius: 10px;
    background-color: rgb(44, 1, 144);
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

